<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <img src="{{url_for('static', filename='imgs/comunicacao.png')}}" onclick="exibirAlerta()">
    <h2>Nome: {{nome}} </h2>
    <h3>E-mail: {{email}}</h3>

    <script src="{{url_for('static', filename='js/funcoes.js')}}"></script>
</body>
</html>